.banner {
    background-image: url('fondo.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 40px;
    font-size: 24px;
    font-family: Arial, sans-serif;
    width: 95%;
}
.banner h1 {
    background-color: rgba(0, 0, 0, 0.7);  /* Fondo negro con transparencia */
    color: white;  /* Color del texto */
    display: inline-block;  /* Para que solo ocupe el espacio del texto */
    padding: 10px 20px;  /* Espaciado interno */
    border-radius: 10px;  /* Bordes redondeados */
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 0;
    background-color: rgb(48, 43, 53); /* Cambia este color */ 
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 0;
    text-align: center; 

}
p1{
    color: rgb(255, 255, 255);
    font-size: 20px;
}
p2{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #fcff58;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    margin-top: 10px;
}


button:hover {
    background-color: #522b6d;
}

